@media only screen
and (min-width: 0) and (max-width: 800px) {

    .block-bc {
        /*flex-wrap: wrap;*/
        flex-direction: column;
    }

    .block-b {
        width: 100%;
    }

    .block-c {
        width: 100%;
        height: 250px;
    }

}